<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div id="main">

    <div id="side-bar">
        <div id="tabs">
            <h1>ALL TABS</h1>
            <hr>
            <div onclick="openHome()">HOME</div>
            <div onclick="openWeather()">WEATHER</div>
            <div onclick="openCovid()">COVID-19</div>
            <div onclick="openTrends()">TRENDS</div>
            <div onclick="openTransport()">PUBLIC TRANSPORT</div>
        </div>
        <hr>
    </div>

    <div id="container-1">
        <div>Graphs / Map</div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>