<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="login-style.css">

</head>
<body>

    <form action="login.html">
        <div class="login-form">
            <h2>Sign up</h2>
            <div class="form-input">
                <label>
                    <input type="text" name="" placeholder="First name" onfocus="this.placeholder=''" onblur="this.placeholder='First name'" required>
                </label>
            </div>
            <div class="form-input">
                <label>
                    <input type="text" name="" placeholder="Last name" onfocus="this.placeholder=''" onblur="this.placeholder='Last name'" required>
                </label>
            </div>
            <div class="form-input">
                <label>
                    <input type="text" name="" placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" required>
                </label>
            </div>
            <div class="form-input">
                <label>
                    <input id="password" type="password" name="" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" required>
                </label>
                <div id="password-eye" onclick="showHide()"></div>
            </div>
            <div class="form-input">
                <label>
                    <input type="date" name="" required>
                </label>
            </div>
            <div class="form-input">
                <input type="submit" name="" value="Submit">
            </div>
            <hr>
            <div class="form-input">
                <input type="button" name="" value="Log in" onclick="window.location.href='login.html';">
            </div>
        </div>
    </form>

    <script src="login-functions.js"></script>
</body>
</html>