<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="login-style.css">

</head>
<body>

<form id="login-form" action="login.html">
        <h2>Sign up</h2>
        <div class="form-input">
            <label>
                <input type="text" name="" placeholder="First name" onfocus="this.placeholder=''" onblur="this.placeholder='First name'" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input type="text" name="" placeholder="Last name" onfocus="this.placeholder=''" onblur="this.placeholder='Last name'" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="email" type="text" name="" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'" required>
            </label>
            <span id="checkEmail" onkeypress="checkEmail()"></span>
        </div>
        <div class="form-input">
            <label>
                <input id="password" type="password" name="" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" required>
            </label>
            <span id="password-eye" onclick="showHide()"></span>
        </div>
        <div class="form-input">
            <label>
                <input type="date" name="" required>
            </label>
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Submit">
        </div>
        <hr>
        <div class="form-input">
            <input type="button" name="" value="Log in" onclick="window.location.href='login.html';">
        </div>
</form>

<script src="login-functions.js"></script>
</body>
</html>