<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="login-style.css">

</head>
<body>

<form action="home.html">
    <div class="login-form">
        <h2>Log in</h2>
        <div class="form-input">
            <label>
                <input type="text" name="" placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="password" type="password" name="" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" required>
            </label>
            <div id="password-eye" onclick="showHide()"></div>
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Submit">
        </div>
        <a href="#" class="forget-password">Forget Password ?</a>
        <hr>
        <div class="form-input">
            <input type="button" name="" value="Sign up" onclick="window.location.href='create-account.html';">
        </div>
    </div>
</form>

<script src="login-functions.js"></script>
</body>
</html>