<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="main">

    <div class="side-bar">
        <div class="tabs">
            <img src="../resources/profil-linkedin.jpg" onclick="window.location.href='profile.html';">
            <hr>
            <div onclick="openHome()">HOME</div>
            <div onclick="openWeather()">WEATHER</div>
            <div onclick="openCovid()">COVID-19</div>
            <div onclick="openTrends()">TRENDS</div>
            <div onclick="openTransport()">PUBLIC TRANSPORT</div>
        </div>
        <hr>
        <button class="mode-button" onclick="toggleMode()"></button>
    </div>

    <iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials">
    </iframe>

    <form action="/action_page.php">
        <fieldset>
            <legend>Modification profil:</legend>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday"><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <div class="grid-tile" draggable="true"><a class="md-tile" data-rid="5" data-pos="4" href="https://www.facebook.com" aria-label="nobodyonfire" title="nobodyonfire" draggable="false"><div class="md-tile-inner"><img class="md-icon" title="" alt="" src="chrome-search://ntpicon/?size=24%401x&amp;url=https%3A%2F%2Fwww.twitch.tv%2Fnobodyonfire"><div class="md-title" style="direction: ltr;"><span>nobodyonfire</span></div></div><button class="md-menu md-edit-menu" title="Modifier le raccourci" aria-label="Modifier le raccourci nobodyonfire"></button></a></div>

</div>

<script src="app.js"></script>
</body>
</html>