<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="main">

    <div class="side-bar">
        <div class="tabs">
            <img src="../resources/profil-linkedin.jpg" onclick="window.location.href='profile.html';" alt="">
            <hr>
            <div onclick="openHome()">HOME</div>
            <div onclick="openWeather()">WEATHER</div>
            <div onclick="openCovid()">COVID-19</div>
            <div onclick="openTrends()">TRENDS</div>
            <div onclick="openTransport()">PUBLIC TRANSPORT</div>
        </div>
        <hr>
        <button class="mode-button" onclick="toggleMode()"></button>
    </div>

    <div class="profile-bar">
        <h1>PROFILE</h1>
        <div onclick="inputName()">Name :</div>
        <div onclick="">Surname :</div>
        <div onclick="">Age :</div>
        <div onclick="">Birthday :</div>
        <img src="../resources/profil-linkedin.jpg" onclick="window.location.href='profile.html';" alt="">
    </div>

</div>

<script src="app.js"></script>
</body>
</html>