html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #3c3f41;
    color: #e5e5e5;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* MAIN CSS PART */

#main{
    height: 100%;
    width: 100%;
}

#side-bar{
    display: flex;
    flex-direction: column;
    background-color: #313335;
    float: left;
    text-align: center;
    height: 100%;
    width: 15%;
    margin-right: 15px;
}

button:focus {
    outline: 0;
}

#mode-button{
    transition-duration: 250ms;
    background-color: #313335;
    color: white;
    border-style: none;
    border-radius: 100%;
    font-size: 150%;
    height: 50px;
    width: 50px;
    margin: auto auto 10% auto;
}

#mode-button:hover{
    cursor: pointer;
}

hr{
    width: 95%;
    margin: 10% auto;
}

#tabs > h1{
    padding: 5% 0;
}

#tabs > div{
    border: solid 1px #313335;
    padding: 5% 0;
}

#tabs > div:hover{
    transition-duration: 250ms;
    background-color: #3c3f41;
    border-color: #e5e5e5;
    cursor: pointer;
}

#container-1{
    display: flex;
    flex-direction: column;
    height: 20%;
    padding: 5px;
}

#container-1 > div{
    flex: auto;
    text-align: center;
    padding: 5% 0;
    margin-bottom: 5%;
    border: solid 1px;
}