body{
    background-color: #3c3f41;
    background-image: url("/images/formBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
*/

/* LOGIN/SIGNUP FORM */

#login-form{
    background-color: rgba(50,50,50,.5);
    color: white;
    opacity: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 20px 20px;
}

#login-form h2{
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
    font-size: 3em;
}


#login-form .form-input{
    position: relative;
    margin: 20px 0;
    text-align: center;
}

#login-form .form-input input{
    background-color: rgba(50,50,50,.8);
    color: white;
    outline: none;
    width: 85%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 18px;
}

::placeholder{
    color: white;
    opacity: 0.5;
}

/* DATE INPUT */

#birthday-label{
    background-color: #3c3f41;
}

#login-form .form-input input[type="date"]{
    background-image: url("/images/calendarIconL.png");
    background-position: 97%;
    background-size: 10%;
    background-repeat: no-repeat;
}

#login-form .form-input input[type="date"]:hover{
    cursor: text;
}

#login-form .form-input input[type="date"]:invalid{
    color: #AAA;
}

#login-form .form-input input[type="date"]::-webkit-clear-button {
    display: none;
}

#login-form .form-input input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#login-form .form-input input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    opacity: 0;
}

/* COUNTRY INPUT */

#login-form #countryInput input::-webkit-calendar-picker-indicator{
    display: none;
}

/* SUBMIT INPUT */

#login-form .form-input input[type="submit"]{
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 60%;
    margin: 0 20%;
}

#login-form .form-input input[type="submit"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* SWITCH LOGIN/SIGNUP INPUT */

#login-form .form-input input[type="button"]{
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 60%;
    margin: 0 20%;
}

#login-form .form-input input[type="button"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* FORGET PASSWORD ? */

#login-form .forget-password{
    display: block;
    color: white;
    margin-top: 30px;
    padding-left: 10px;
    font-weight: bold;
    width: fit-content;
}

#login-form hr{
    margin: 40px 0;
}

/* CHECK EMAIL */

#login-form #check-email{
    display: none;
    background-color: #3c3f41;
    width: fit-content;
    padding: 5px;
    margin-left: 30px;
}

/* SHOW/HIDE PASSWORD */

#login-form #password-eye{
    position: absolute;
    top: 7px;
    right: 42px;
    cursor: pointer;
    font-size: 1.5em;
}

/* CAPS LOCK */

#login-form .maj {
    display: none;
    position: absolute;
    top: 5px;
    right: 70px;
    width: 30px;
    height: 30px;
    background-image: url("/images/capsLock.png");
    background-size: cover;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------- */

/* CHANGE PROFILE FORM */

#changeProfile{
    background-color: rgba(50,50,50,.5);
    display: flex;
    flex-direction: column;
    opacity: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: 20px 0 0 570px;
}

#changeProfile form {
    width: 700px;
}

#changeProfile h2{
    margin: 0 0 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

#changeProfile #container-form{
    display: flex;
}

#changeProfile #first-column{
    width: 50%;
}

#changeProfile #second-column{
    width: 50%;
}

#changeProfile .form-input{
    position: relative;
    margin: 20px 0;
    text-align: center;
}

#changeProfile .form-input input{
    background-color: rgba(50,50,50,.8);
    color: white;
    outline: none;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 18px;
}

#changeProfile .form-input input[type="date"]{
    background-image: url("/images/calendarIconL.png");
    background-position: 94%;
    background-size: 13%;
    background-repeat: no-repeat;
    width: 69%; /* Ca tombe vraiment sur cette valeur mdr */
}

#changeProfile .form-input input[type="date"]:hover{
    cursor: text;
}

#changeProfile .form-input input[type="date"]:invalid::-webkit-datetime-edit{
    color: #AAA;
}

#changeProfile .form-input input[type="date"]::-webkit-clear-button {
    display: none;
}

#changeProfile .form-input input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#changeProfile .form-input input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 26px;
    opacity: 0;
}

/* CHANGE PROFILE LIST INPUT */

#changeProfile #listInput input::-webkit-calendar-picker-indicator{
    display: none;
}

/* CHANGE PROFILE SUBMIT INPUT */

#changeProfile .form-input input[type="submit"]{
    color: white;
    border: solid 1px white;
    width: 25%;
    cursor: pointer;
}

#changeProfile .form-input input[type="button"]{
    color: white;
    border: solid 1px white;
    width: 100%;
    cursor: pointer;
}

#changeProfile .form-input input[type="submit"]:hover,
#changeProfile .form-input input[type="button"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* CHANGE PROFILE FILE INPUT */

#changeProfile .form-input2{
    position: relative;
    margin-top: 20px;
    margin-left: 25%;
    text-align: center;
}

#changeProfile .form-input2 input{
    background-color: rgba(50,50,50,.8);
    color: white;
    outline: none;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 18px;
}

#changeProfile .form-input2 #image-label{
    background-color: #3c3f41;
    padding: 5px;
}

#changeProfile .form-input input[type="file"]{
    margin-left: 50%;
}

#changeProfile .form-input2 input[type="file"]::-webkit-file-upload-button,
#changeProfile .form-input2 input[type="file"]::before{
    visibility: hidden;
}

/* CHANGE PROFILE CHECK EMAIL */

#changeProfile #check-email{
    display: none;
    background-color: #3c3f41;
    width: fit-content;
    padding: 5px;
    margin-left: 55px;
}

/* CHANGE PROFILE SHOW/HIDE PASSWORD */

#changeProfile #password-eye{
    position: absolute;
    top: 9px;
    right: 65px;
    cursor: pointer;
    font-size: 1.5em;
}

#changeProfile #password-eye::selection{
    display: none;
}

/* CHANGE PROFILE CAPS LOCK */

#changeProfile .maj {
    background-image: url("/images/capsLock.png");
    background-size: cover;
    display: none;
    position: absolute;
    top: 6px;
    right: 95Px;
    width: 30px;
    height: 30px;
}

#changeProfile hr{
    margin: 20px 0;
    width: 95%;
}

/* CANCEL BUTTON */

#cancel{
    margin: 0 0 20px 0;
}