body{
    background-color: #3c3f41;
    background-image: url("/images/formBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

/*
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
*/

/* LOGIN/SIGNUP FORM */

#login-form{
    background-color: rgba(50,50,50,.5);
    color: white;
    opacity: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 20px 20px;
}

#login-form h2{
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
    font-size: 3em;
}


#login-form .form-input{
    position: relative;
    margin: 20px 0;
    text-align: center;
}

#login-form .form-input input{
    background-color: rgba(50,50,50,.8);
    color: white;
    outline: none;
    width: 85%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 18px;
}

::placeholder{
    color: white;
    opacity: 0.5;
}

/* DATE INPUT */

#birthday-label{
    background-color: #3c3f41;
}

#login-form .form-input input[type="date"]{
    background-image: url("/images/calendarIconL.png");
    background-position: 97%;
    background-size: 10%;
    background-repeat: no-repeat;
}

#login-form .form-input input[type="date"]:hover{
    cursor: text;
}

#login-form .form-input input[type="date"]:invalid{
    color: #AAA;
}

#login-form .form-input input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#login-form .form-input input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    opacity: 0;
}

/* COUNTRY INPUT */

#login-form #countryInput input::-webkit-calendar-picker-indicator{
    display: none;
}

/* SUBMIT INPUT */

#login-form .form-input input[type="submit"]{
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 60%;
    margin: 0 20%;
}

#login-form .form-input input[type="submit"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* SWITCH LOGIN/SIGNUP INPUT */

#login-form .form-input input[type="button"]{
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 60%;
    margin: 0 20%;
}

#login-form .form-input input[type="button"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* FORGET PASSWORD ? */

#login-form .forget-password{
    display: block;
    color: white;
    margin-top: 30px;
    padding-left: 10px;
    font-weight: bold;
    width: fit-content;
}

hr{
    margin: 40px 0;
}

/* CHECK EMAIL */

#login-form #check-email{
    display: none;
    background-color: #3c3f41;
    width: fit-content;
    padding: 5px;
    margin-left: 30px;
}

/* SHOW/HIDE PASSWORD */

#login-form #password-eye{
    position: absolute;
    top: 7px;
    right: 42px;
    cursor: pointer;
    font-size: 1.5em;
}

/* CAPS LOCK */

#login-form .maj {
    display: none;
    position: absolute;
    top: 5px;
    right: 70px;
    width: 30px;
    height: 30px;
    background-image: url("/images/capsLock.png");
    background-size: cover;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------- */

/* CHANGE PROFILE FORM */

#change-form{
    background-color: rgba(50,50,50,.5);
    color: white;
    opacity: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 20px 20px;
}

#change-form h2{
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
    font-size: 3em;
}

#change-form #container-form{
    display: flex;
}

#change-form #first-column{
    width: 50%;
}

#change-form #second-column{
    width: 50%;
}

#change-form .form-input{
    position: relative;
    margin: 20px 0;
    text-align: center;
}

#change-form .form-input input{
    background-color: rgba(50,50,50,.8);
    color: white;
    outline: none;
    width: 85%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 18px;
}

#change-form .form-input input[type="date"]{
    background-image: url("/images/calendarIconL.png");
    background-position: 97%;
    background-size: 10%;
    background-repeat: no-repeat;
}

#change-form .form-input input[type="date"]:hover{
    cursor: text;
}

#change-form .form-input input[type="date"]:invalid{
    color: #AAA;
}

#change-form .form-input input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#change-form .form-input input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    opacity: 0;
}

/* CHANGE PROFILE COUNTRY INPUT */

#change-form #countryInput input::-webkit-calendar-picker-indicator{
    display: none;
}

/* CHANGE PROFILE SUBMIT INPUT */

#change-form .form-input input[type="submit"]{
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 40%;
    margin: 0 20%;
}

#change-form .form-input input[type="submit"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* CHANGE PROFILE ABORT INPUT */

#change-form .form-input input[type="button"]{
    color: white;
    border: solid 1px white;
    cursor: pointer;
    width: 40%;
    margin: 0 20%;
}

#change-form .form-input input[type="button"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

/* CHANGE PROFILE CHECK EMAIL */

#change-form #check-email{
    display: none;
    background-color: #3c3f41;
    width: fit-content;
    padding: 5px;
    margin-left: 30px;
}

/* CHANGE PROFILE SHOW/HIDE PASSWORD */

#change-form #password-eye{
    position: absolute;
    top: 7px;
    right: 42px;
    cursor: pointer;
    font-size: 1.5em;
}

/* CHANGE PROFILE CAPS LOCK */

#change-form .maj {
    display: none;
    position: absolute;
    top: 5px;
    right: 70px;
    width: 30px;
    height: 30px;
    background-image: url("/images/capsLock.png");
    background-size: cover;
    cursor: pointer;
}