body{
    background-color: #3c3f41;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* LIGHT MODE */

.light-body{
    background-color: #e5e5e5;
    color: black;
}

.light-body #profileDiv,
.light-body #profileDiv div{
    background-color: rgba(213, 213, 213 ,.7);
}

.light-body #profileDiv span:nth-child(2){
    color: #125688;
}

.light-body #profileDiv > button{
    background-color: #d5d5d5;
    border: solid 1px #d5d5d5;
    color: #3c3f41;
}

.light-body #profileDiv > button:hover{
    background-color: #e5e5e5;
    border-color: #3c3f41;
}

.light-body .side-bar{
    background-color: #d5d5d5;
}

.light-body .tabs > div{
    border: solid 1px #d5d5d5;
}

.light-body .tabs > div:hover{
    background-color: #e5e5e5;
    border-color: #3c3f41;
}

.light-body .tabs #active{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.light-body #mode-button{
    background-color: #d5d5d5;
    color: black;
}

.light-body #container-1 div {
    background-color: rgba(213, 213, 213 ,.7);
}

.light-body #container-1 div h2{
    color: black;
}

.light-body #container-1 div a {
    color: #3c3f41;
}

.light-body #container-2 div {
    background-color: rgba(213,213,213,.7);
}

.light-body #container-2 div h3{
    color: black;
}

.light-body #container-3 div {
    background-color: rgba(213, 213, 213 ,.7);
}

.light-body #container-3 div h2{
    color: black;
}

.light-body #container-3 div a {
    color: #3c3f41;
}

.light-body .fa-weather{
    background: rgba(180,180,180,.7);
    color: white;
}

.light-body #clock #time div span{
    color: black;
}

.light-body .calendar{
    border: 15px solid rgba(213, 213, 213,.1);
}

.light-body .calendar .date .days .day:nth-child(7),
.light-body .calendar .date .days .number:nth-child(7n){
    color: #55ACEE;
    font-weight: 600;
}

.light-body .calendar .date .days .number.active{
    color: #ff5700;
    border: #ff5700 solid 1px;
}

.light-body #weather #weatherDiv,
.light-body #weather #weatherDiv div {
    background-color: rgba(213, 213, 213 ,.7);
}

.light-body #trends #trendsDiv,
.light-body #trends #trendsDiv div{
    background-color: rgba(213, 213, 213 ,.7);
}

/* PROFILE */

#profile{
    background-image: url("/images/profileBg.png");
    background-size: cover;
    background-attachment: scroll, local;
    height: 100vh;
}

#profileDiv{
    display: flex;
    flex-direction: column;
    background-color: #313335;
    padding: 0 100px;
    height: 100vh;
    width: 70%;
    margin-left: 300px;
    margin-right: 110px;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

#profileDiv > div{
    width: 95%;
}

#profileDiv div{
    display: flex;
    margin: auto 10px;
    padding: 20px;
}

#profileDiv div div{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#profileDiv span:nth-child(2){
    color: #55ACEE;
    margin-top: 20px;
}

#profileDiv,
#profileDiv div{
    background-color: rgba(49, 51, 53,.7);
}

#profileDiv > h2{
    text-align: center;
    margin: 5% 0;
    text-transform: uppercase;
}

#profileDiv > div{
    margin: 5px 0;
}

#profileDiv > button{
    display: flex;
    top: 35px;
    left: 60%;
    background-color: #313335;
    color: white;
    border: solid 1px #313335;
    width: fit-content;
    padding: 20px;
}

#profileDiv > button:hover{
    transition-duration: 250ms;
    background-color: #3c3f41;
    border-color: #e5e5e5;
    cursor: pointer;
}

#profileDiv > img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: 50px;
}

/* SIDE BAR */

.side-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #313335;
    float: left;
    text-align: center;
    height: 100%;
    width: 15%;
    margin-right: 15px;
    opacity: 0.9;
}

.tabs img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.tabs img:hover{
    cursor: pointer;
}

#log-out{
    margin-top: 20px;
}

hr{
    width: 95%;
    margin: 10% auto;
}

.tabs > h1{
    padding: 5% 0;
}

.tabs > div{
    border: solid 1px #313335;
    padding: 5% 0;
    overflow: hidden;
}

.tabs > div:hover{
    transition-duration: 250ms;
    background-color: #3c3f41;
    border-color: #e5e5e5;
    cursor: pointer;
}

.tabs #active{
    background-color: #3c3f41;
    border-color: #3c3f41;
}

button:focus {
    outline: 0;
}

#mode-button{
    transition-duration: 250ms;
    background-color: #313335;
    color: white;
    border-style: none;
    border-radius: 100%;
    font-size: 150%;
    height: 50px;
    width: 50px;
    margin: auto auto 10% auto;
}

#mode-button:hover{
    cursor: pointer;
}

/* CONTAINER 1 */

#container-1{
    font-family: system-ui, serif;
    display: flex;
    height: auto;
    margin-left: 300px;
    margin-right: 110px;
}

#container-1 > div{
    width: 100%;
    margin-right: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

#container-1 div{
    background-color: rgba(49, 51, 53,.7);
    justify-content: center;
    padding: 15px;
    margin: 10px 0;
}

#container-1 div h2 {
    color: white;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 20px;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 1.5em;
}

#container-1 div a{
    color: #e5e5e5;
}

/* CONTAINER 2 */

#container-2{
    font-family: system-ui, serif;
    display: flex;
    justify-content: center;
    height: auto;
    margin-left: 300px;
    margin-right: 110px;
}

#container-2 > div{
    padding: 15px;
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

#container-2 div{
    background-color: rgba(49, 51, 53,.7);
}

#container-2 div h3 {
    color: white;
    padding: 0;
    margin: 10px 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

/* CONTAINER 3 */

#container-3{
    font-family: system-ui, serif;
    display: flex;
    height: auto;
    margin-left: 300px;
    margin-right: 110px;
}

#container-3 > div{
    width: 100%;
    margin-right: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

#container-3 div{
    background-color: rgba(49, 51, 53,.7);
    padding: 15px;
    margin: 10px 0;
}

#container-3 div h2 {
    color: white;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 20px;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 1.5em;
}

#container-3 div a{
    color: #e5e5e5;
}

/* SOCIAL BUTTONS */

.social-buttons{
    display: flex;
    flex-direction: column;
    position: fixed;
    float: right;
    margin-right: 5px;
    top: 15%;
    left: 95%
}

/* FONT-AWESOME ICONS */

.fa {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 5px 2px;
    border-radius: 100%;
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover {
    transition-duration: 250ms;
    opacity: 1;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover {
    transition-duration: 250ms;
    opacity: 1;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-instagram:hover {
    transition-duration: 250ms;
    opacity: 1;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-reddit:hover {
    transition-duration: 250ms;
    opacity: 1;
}

.fa.fa-weather{
    opacity: 1;
    font-size: 3em;
}

/* HOME */

#home{
    background-image: url("/images/homeBg.png");
    background-size: cover;
    background-attachment: scroll, local;
}

/* CLOCK */

#clock #time{
    display: flex;
}

#clock #time div{
    position: relative;
    margin: 0 5px;
}

#clock #time div span{
    position: relative;
    display: flex;
    width: 100px;
    height: 80px;
    color: white;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
}

#clock #time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
}

#clock #time div:nth-child(1) span:nth-child(2){
    background: #55ACEE;
}

#clock #time div:nth-child(2) span:nth-child(2){
    background: #125688;
}

#clock #time div:nth-child(3) span:nth-child(2){
    background-color: #ff5700;
}

/* CALENDAR */

.calendar{
    position: relative;
    background: #fff;
    width: 85%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 15px solid rgba(49, 51, 53,.1);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.calendar .date{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.calendar .date .days{
    display: flex;
    flex-wrap: wrap;
}

.calendar .date .days .day,
.calendar .date .days .number{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar .date .days .day:nth-child(7),
.calendar .date .days .number:nth-child(7n){
    color: #ff5700;
    font-weight: 600;
}

.calendar .date .days .number.active{
    color: #55ACEE;
    border: #55ACEE solid 1px;
}

.calendar .date .days .number.hide{
    display: none;
}

.calendar .image{
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
}

.calendar .image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* WEATHER */

#weather{
    background-image: url("/images/weatherBg.png");
    background-size: cover;
    background-attachment: scroll, local;
    height: 100vh;
}

#weather #weatherDiv,
#weather #weatherDiv div{
    background-color: rgba(49, 51, 53,.7);
}

#weatherDiv div{
    display: flex;
    margin: auto 10px;
}

#weatherDiv div div{
    flex-direction: column;
    align-items: center;
}

#weatherDiv span:nth-child(2){
    margin-top: 10px;
}

#weatherDiv span:nth-child(3){
    color: #ff5700;
    margin-top: 10px;
}

/* TRENDS */

#trends{
    background-image: url("/images/trendsBg.png");
    background-size: cover;
    background-attachment: scroll, local;
    height: 100vh;
}

#trends #trendsDiv,
#trends #trendsDiv div{
    background-color: rgba(49, 51, 53,.7);
}

/* COVID */

#covid{
    background-image: url("/images/covidBg.png");
    background-size: cover;
    background-attachment: scroll, local;
}

/* TRANSPORT */

#transport{
    background-image: url("/images/transportBg.png");
    background-size: cover;
    background-attachment: scroll, local;
    height: 100vh;
}

#transport #fakeTransportDiv,
#transport #fakeTransportDiv div{
    background-color: rgba(49, 51, 53,.7);
}

#fakeTransportDiv h2{
    padding-top: 10px;
    padding-bottom: 20px;
}

#transportDiv{
    display: flex;
}

#transportDiv > div{
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#transportDiv h3{
    color: white;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 1em;
}

#favoriteStation #stationFav span{
    display: block;
    padding: 10px;
}

#favoriteStation #stationFav span:nth-child(1){
    color: #55ACEE;
    font-size: 1.2em;
}

#formStations form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#formStations .form-input{
    position: relative;
    margin: 20px 0;
}

#formStations .form-input input{
    background-color: rgba(50,50,50,.8);
    color: white;
    outline: none;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 18px;
}

#formStations .form-input input[type="submit"]{
    color: white;
    border: solid 1px white;
    margin-top: 10px;
    width: 25%;
    cursor: pointer;
}

#formStations .form-input input[type="submit"]:hover{
    transition-duration: 250ms;
    background-color: #313335;
    color: #d5d5d5;
    cursor: pointer;
}

#formStations .form-input input::-webkit-calendar-picker-indicator{
    display: none;
}

#formStations #station span{
    display: block;
    padding: 10px;
}

#formStations #station span:nth-child(1){
    color: #55ACEE;
    font-size: 1.2em;
}

