html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #3c3f41;
    color: #e5e5e5;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* LIGHT MODE */

.light-body{
    background-color: #e5e5e5;
    color: #3c3f41;
}

.light-body .side-bar{
    background-color: #d5d5d5;
}

.light-body .profile-bar{
    background-color: #d5d5d5;
}

.light-body .profile-bar > button{
    background-color: #d5d5d5;
    border: solid 1px #d5d5d5;
    color: #3c3f41;
}

.light-body .profile-bar > button:hover{
    background-color: #e5e5e5;
    border-color: #3c3f41;
}

.light-body #mode-button{
    background-color: #d5d5d5;
    color: black;
}

.light-body .tabs > div{
    border: solid 1px #d5d5d5;
}

.light-body .tabs > div:hover{
    background-color: #e5e5e5;
    border-color: #3c3f41;
}

.light-body #container-1 div {
    background-color: #d5d5d5;
}

.light-body #container-1 div h2{
    color: black;
}

.light-body #container-1 div a {
    color: #3c3f41;
}

.light-body #clock #time div span{
    color: black;
}

.light-body #container-2 div {
    background-color: #d5d5d5;
}

.light-body #container-2 div h2{
    color: black;
}

.light-body #container-2 div a {
    color: #3c3f41;
}

/* MAIN CSS PART */

.main{
    height: 100%;
    width: 100%;
}

.profile-bar{
    display: flex;
    flex-direction: column;
    background-color: #313335;
    padding: 0 100px;
    height: 100%;
    width: 50%;
    margin-left: 300px;
    margin-right: 110px;
}

.profile-bar > h1{
    text-align: center;
    margin: 5% 0;
}

.profile-bar > div{
    margin: 5px 0;
}

.profile-bar > button{
    display: flex;
    position: absolute;
    top: 35px;
    left: 60%;
    background-color: #313335;
    color: white;
    border: solid 1px #313335;
    width: fit-content;
    padding: 1% 1%;
}

.profile-bar > button:hover{
    transition-duration: 250ms;
    background-color: #3c3f41;
    border-color: #e5e5e5;
    cursor: pointer;
}

.profile-bar > img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: 50px;
}

.profile-bar > a{
    color: white;
    font-weight: bold;
    width: 50%;
    margin-bottom: 50px;
}

.profile-bar > a:active{
    color: white;
}

.side-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #313335;
    float: left;
    text-align: center;
    height: 100%;
    width: 15%;
    margin-right: 15px;
}

button:focus {
    outline: 0;
}

#mode-button{
    transition-duration: 250ms;
    background-color: #313335;
    color: white;
    border-style: none;
    border-radius: 100%;
    font-size: 150%;
    height: 50px;
    width: 50px;
    margin: auto auto 10% auto;
}

#mode-button:hover{
    cursor: pointer;
}

.tabs img{
    margin: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tabs img:hover{
    cursor: pointer;
}

#log-out{
    margin-top: 20px;
}

hr{
    width: 95%;
    margin: 10% auto;
}

.tabs > h1{
    padding: 5% 0;
}

.tabs > div{
    border: solid 1px #313335;
    padding: 5% 0;
}

.tabs > div:hover{
    transition-duration: 250ms;
    background-color: #3c3f41;
    border-color: #e5e5e5;
    cursor: pointer;
}

#container-1{
    display: flex;
    height: auto;
    margin-left: 300px;
    margin-right: 110px;
}

#container-1 > div{
    margin-right: 20px;
}

#container-1 div{
    font-family: system-ui, serif;
    background-color: #313335;
    padding: 15px;
    margin-top: 10px;
}

#container-1 div h2 {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 1.5em;
}

#container-1 div a{
    color:#e8caeb;
}

#clock #time{
    display: flex;
}

#clock #time div{
    position: relative;
    margin: 0 5px;
}

#clock #time div span{
    position: relative;
    display: flex;
    width: 100px;
    height: 80px;
    color: white;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

#clock #time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
}

#clock #time div:nth-child(1) span:nth-child(2){
    background: #55ACEE;
}

#clock #time div:nth-child(2) span:nth-child(2){
    background: #125688;
}

#clock #time div:nth-child(3) span:nth-child(2){
    background-color: #ff5700;
}

#hideThis {
    display: none;
}

#container-2{
    display: flex;
    height: auto;
    margin-left: 300px;
    margin-right: 110px;
}

#container-2 > div{
    margin-right: 20px;
}

#container-2 div{
    font-family: system-ui, serif;
    background-color: #313335;
    padding: 15px;
    margin-top: 10px;
}

#container-2 div h2 {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 1.5em;
}

#container-2 div a{
    color:#e8caeb;
}

.social-buttons{
    display: flex;
    flex-direction: column;
    position: fixed;
    float: right;
    margin-right: 5px;
    top: 15%;
    left: 95%
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    opacity: 0.7;
}

.fa:hover {
    transition-duration: 250ms;
    opacity: 1;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}