<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/login-style.css">

</head>
<body>
<!--
<video autoplay muted loop id="myVideo">
    <source src="/video/espace.mp4" type="video/mp4">
</video>
-->
<div id="recoverInfos">
    <form action="/forget-password" method="post">
        <h2>Mot de passe oublié</h2>
        <div class="form-input">
            <label>
                <input type="text" id="input_id" name="input_id" placeholder="Pseudo du compte" autocomplete="off" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input type="text" id="new_mdp" name="new_mdp" placeholder="Nouveau mot de passe (copiez avant de valider)" readonly>
            </label>
        </div>
        <div class="form-input">
            <input type="button" name="" value="Générer un nouveau mot de passe" onclick="generatePassword()">
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Valider le nouveau mot de passe">
        </div>
        <hr>
        <div class="form-input">
            <input type="button" name="" value="Retour" onclick="window.location.href='/login';">
        </div>
    </form>
</div>

<script>
    function generatePassword(){
        const chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%&";
        const passwordLength = 24;
        let password = "";

        for (let i = 0; i < passwordLength; i++){
            const randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber + 1);
        }
        document.getElementById('new_mdp').value = password;
    }
</script>
<script src="https://kit.fontawesome.com/30f9fd1eba.js" crossorigin="anonymous"></script>
</body>
</html>