<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/login-style.css">

</head>
<body>

<form id="login-form" action="/connexion1" method="post">
    <h2>Connexion</h2>
    <div class="form-input">
        <label>
            <input type="text" id="input_id" name="input_id" placeholder="Pseudo" autocomplete="off" required>
        </label>
    </div>
    <div class="form-input">
        <label>
            <input type="password" id="input_mdp" name="input_mdp" placeholder="Mot de passe" autocomplete="off" required>
        </label>
        <span class="fa" id="password-eye" onclick="showHide()">&#xf06e;</span>
        <span class="maj"></span>
    </div>

    <% if (locals.erreur) { %>
        <p><%= erreur %></p>
    <% } else if (locals.result1) { %>
        <p><%= result1 %></p>
    <% } %>

    <div class="form-input">
        <input type="submit" name="" value="Connexion">
    </div>
    <a href="/forget-password" class="forget-password">Mot de passe oublié ?</a>
    <hr>
    <div class="form-input">
        <input type="button" name="" value="Créer un compte" onclick="window.location.href='/sign-up';">
    </div>
</form>

<script>
    const inpPassword = document.getElementById("input_mdp")
    const maj = document.querySelector(".maj")

    inpPassword.addEventListener('keyup', function(event){
        const isCapsLockOn = event.getModifierState("CapsLock");
        console.log("salit")
        maj.style.display = isCapsLockOn ? 'block' : 'none';
    });
</script>
<script src="https://kit.fontawesome.com/30f9fd1eba.js" crossorigin="anonymous"></script>
<script src="javascripts/app.js"></script>
</body>
</html>