<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Créer un compte</title>
</head>

<body>
	<h1>Créer un compte</h1>
    <p>Veuillez remplir tous les champs du formulaire<p\>

	<form method="post">
        <p>
            <label for="prenom">Prénom</label> :
            <input type="text" id="input_prenom" name="input_prenom" pattern="[A-Za-z\-]+" title="Veuillez entrer uniquement des lettres" required>
            <label for="nom">Nom</label> :
            <input type="text" id="input_nom" name="input_nom" pattern="[A-Za-z\-]+" title="Veuillez entrer uniquement des lettres" required>
            <label for="identifiant">Identifiant</label> :
            <input type="text" id="input_id" name="input_id" pattern="[A-Za-z0-9\-]+" title="Veuillez entrer uniquement des lettres ou des chiffres" required>
            <label for="mdp">Mot de passe</label> :
            <input type="password" id="input_mdp" name="input_mdp" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"" title="Veuillez entrer un mot de passe contenant un moins une majuscule, une minuscule, un chiffre et comprenant au moins 8 caractères" required>
            <label for="commune">Commune</label> :
            <input type="text" id="input_commune" name="input_commune" pattern="[A-Za-z\-]+" title="Veuillez entrer uniquement des lettres" required>
            <label for="CP">Code postal</label> :
            <input type="text" id="input_CP" name="input_CP" pattern="[0-9]{5}" title="Veuillez entrer un code postal (5 chiffres)" required>
            <label for="Date_naissance">Date de naissance</label> :
            <input type="date" id="input_date_naissance" name="input_date_naissance" required>
            <input type="submit" id="boutton" value="Valider">
        </p>

    </form>

    <% if (locals.succes) { %>
        <div id="succes">
            <%= succes %>
        </div>
    <% } %>

    <a href="http://localhost:8080/">Page d'accueil</a>


    <script src="D:\Documents\CSI 3\Projets\ProjetFinAnnee\QPLT\ajax.js"></script>
    <!--<script src="D:\Documents\CSI 3\Projets\ProjetFinAnnee\QPLT\monfichier_creation_compte.js"></script>-->
</body>

</html>