<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="stylesheet" href="stylesheets/login-style.css">

</head>
<body>
<!-- ON PEUT PAS CREER DE COMPTE ALED-->
<form id="login-form" action="/connexion" method="post">
        <h2>Sign up</h2>
        <div class="form-input">
            <label>
                <input id="input_id" type="text" name="input_id" placeholder="Username" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="email" type="text" name="" placeholder="Email" onchange="checkEmail()" required>
            </label>
            <span id="check-email"></span>
        </div>
        <div class="form-input">
            <label>
                <input id="input_mdp" type="password" name="" placeholder="Password" required>
            </label>
            <span id="password-eye" onclick="showHide()"></span>
        </div>
        <div class="form-input">
            <label id="birthday-label"> Birthday :
                <input type="date" name="" required>
            </label>
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Submit">
        </div>
        <hr>
        <div class="form-input">
            <input type="button" name="" value="Log in" onclick="window.location.href='login';">
        </div>
</form>

<script src="javascripts/app.js"></script>

</body>
</html>