<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/login-style.css">

</head>
<body>

<form id="login-form" action="/sign-up" method="post">
        <h2>Sign up</h2>
        <div class="form-input">
            <label>
                <input id="input_nom" type="text" name="input_nom" placeholder="Last Name" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="input_prenom" type="text" name="input_prenom" placeholder="First Name" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="input_id" type="text" name="input_id" placeholder="Username" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="email" type="text" name="email" placeholder="Email" onchange="checkEmail()" required>
            </label>
            <span id="check-email"></span>
        </div>
        <div class="form-input">
            <label>
                <input id="input_mdp" type="password" name="input_mdp" placeholder="Password" required>
            </label>
            <span id="password-eye" onclick="showHide()"></span>
        </div>
        <div class="form-input">
            <label id="birthday-label"> Birthday :
                <input id="input_date_naissance" type="date" name="input_date_naissance" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="input_commune" type="text" name="input_commune" placeholder="Ville" required>
            </label>
        </div>
        <div class="form-input">
            <label>
                <input id="input_CP" type="text" name="input_CP" placeholder="Code Postal" required>
            </label>
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Submit">
        </div>
        <hr>
        <div class="form-input">
            <input type="button" name="" value="Log in" onclick="window.location.href='login';">
        </div>
</form>

<script src="javascripts/app.js"></script>

</body>
</html>